* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Calibri, Helvetica, sans-serif;
    line-height: 1.6;
  }
  
  header {
    background: #f4f4f4;
    text-align: center;
    font-size: 35px;
  }
  .container {
    margin: auto;
    width: 750px;
    overflow: auto;
    padding: 5rem 2rem;
  }
  .containerAnalysis {
    margin: auto;
    width: 750px;
    overflow: auto;
    padding: 1rem 0.5rem;
  }
  #my-form {
    padding: 1rem;
    background: #f4f4f4;
  }
  #my-form label {
    display: block;
  }
  .my-form {
    padding: 1rem;
    background: #f4f4f4;
  }
  .my-form label {
    display: block;
  }

  #my-form input[type='text'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .my-form input[type='text'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .btn {
    display: block;
    width: 25%;
    padding: 10px 15px;
    border: 0;
    background: #5E5F7E;
    color: #fff;
    border-radius: 5px;
    margin:auto;
    font-size: 16px;
  }
  
  .btn:hover {
    background: #656790;
  }


  input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #FBFBFB;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #D8D8D8;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}